.classpath
.eclipse/
.idea/
.project
.revision/
.settings/
build/
out/
*.iml
src/c/core.*
src/c/TEST-*.txt
src/c/*.la
src/c/*.lo
src/c/*.o
src/c/generated/
src/java/generated/
src/java/lib/ant-eclipse-*
src/java/lib/ivy-*
src/c/aclocal.m4
src/c/autom4te.cache
src/c/configure
src/c/ltmain.sh
src/java/lib/jdiff/zookeeper_*.xml